<div class="container">
  <div class="row" style="padding:8px">
    <div class="col-sm-12 mdl-color--white mdl-shadow--2dp">
      <h3>Welcome to Eat Online!</h3>
      <hr>
      <i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/Fshy/EatOnline">GitHub Repo</a>

      <div class="col-sm-4">
        <div class="panel">
          <div class="panel-heading"><h6>Accounts for Testing Access Control</h6></div>
          <div class="panel-body">
            <p>Views are limited based on user role.</p>
            <hr>
            <p>
              <strong>Developer (Full Access):</strong><br>
              Username: Admin<br>
              Password: adm1nPa55w0rd!<br>
            </p>
            <hr>
            <p>
              <strong>Customer (Create Orders):</strong><br>
              Username: testCustomer<br>
              Password: Cu5t0m3r!<br>
            </p>
            <hr>
            <p>
              <strong>Employee (View Customer Orders):</strong><br>
              Username: testEmployee<br>
              Password: Empl0y33!<br>
            </p>
          </div>

        </div>
      </div>



    </div>
  </div>
</div>
