<div class="container">
  <div class="row" style="padding:8px">
    <div class="col-md-8 mdl-color--white mdl-shadow--2dp">
      <h3>Menu</h3>
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric"></th>
            <th class="mdl-data-table__cell--non-numeric">Item</th>
            <th class="mdl-data-table__cell--non-numeric">Size</th>
            <th>Price</th>
            <th class="mdl-data-table__cell--non-numeric"></th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in menu track by $index" class="slide">
              <td class="mdl-data-table__cell--non-numeric"><img ng-src="{{item.imgUrl}}" alt="" height="200px" width="200px"></td>
              <td class="mdl-data-table__cell--non-numeric">{{item.name}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{item.size}}</td>
              <td>{{item.price | currency:"$"}}</td>
              <td class="mdl-data-table__cell--non-numeric"><md-button ng-click="addToOrder(item.id, item.name, item.size, item.price)" class="md-raised md-button md-ink-ripple"><md-icon><i class="material-icons">add</i></md-icon> Add to Order</md-button></td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3 col-md-offset-1 mdl-color--white mdl-shadow--2dp">
      <h3>New Order</h3>
      <hr>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th>Item</th>
              <th>Size</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
        	<tbody ng-init="total = 0">
            <tr ng-repeat="o in newOrder" class="slide">
          		<td>{{o.name}}</td>
              <td>{{o.size}}</td>
              <td>{{o.quantity}}</td>
              <td ng-init="$parent.total = $parent.total + o.price">{{o.price | currency:"$"}}</td>
              <td ng-click="delete($index, o, $parent)"><i class="material-icons">clear</i></td>
        	 </tr>
          </tbody>
        </table>
      </div>
        <hr>
        <strong><div>Order Total: {{total | currency:"$"}}</div></strong>
        <hr>
        <div style="padding-bottom:15px">
          <md-button ng-click="submitOrder(newOrder)" class="md-raised md-button md-ink-ripple md-primary">Submit Order</md-button>
        </div>
    </div>
  </div>
</div>
