<div class="container">
  <div class="row" style="padding:8px">
    <div class="col-sm-12"  style="padding-bottom:35px">
      <h3>My Pending Orders</h3>
      <hr>
      <div ng-repeat="order in orderDetails" ng-class="{ 'row': ($index + 1) % 2 == 0 }" class="slide">
        <div style="padding-bottom:15px;margin-top: 25px;" class="col-sm-4 col-sm-offset-1 mdl-color--white mdl-shadow--2dp">
          <h4 ng-repeat="o in order | unique:'order_id'">Order #{{o.order_id}}</h4>
          <hr>
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Size</th>
                  <th>Quantity</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="o in order">
                  <td>{{o.name}}</td>
                  <td>{{o.size}}</td>
                  <td>{{o.quantity}}</td>
                  <td>{{o.totalprice | currency:"$"}}</td>
               </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
