<div class="container">
  <div class="row" style="padding:8px">
    <div class="col-sm-12">
      <h3>Pending Customer Orders</h3>
      <hr>
      <div cg-busy="{promise:load,backdrop:false,templateUrl:'views/loading.html'}"></div>
    </div>

    <div ng-repeat="order in orderDetails track by $index" ng-class="{ 'row': ($index + 1) % 2 == 0 }" class="faded">
      <div style="padding-bottom:15px;margin-top: 25px;" class="col-sm-4 col-sm-offset-1 mdl-color--white mdl-shadow--2dp">
        <div class="row" style="padding-left:15px" ng-controller="panelController">
          <h5 ng-repeat="o in order | unique:'order_id'">Order #{{o.order_id}}</h5>
          <md-menu md-position-mode="target-right target" ng-repeat="o in order | unique:'order_id'">
            <md-button ng-click="openMenu($mdOpenMenu, $event)" style="top:20px;right:15px;position:absolute;" class="md-icon-button" aria-label="Open settings">
              <i class="material-icons">settings</i>
            </md-button>
            <md-menu-content>
              <md-menu-item><md-button ng-click="orderDeliver(o.order_id)"><i class="fa fa-truck" aria-hidden="true"></i> Mark as Delivered</md-button></md-menu-item>
              <md-menu-item><md-button ng-click="orderCancel(o.order_id)"><i class="fa fa-ban" aria-hidden="true"></i> Cancel Order</md-button></md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
        <hr>

        <dl class="dl-horizontal" ng-repeat="o in order | unique:'order_id'">
          <dt>Customer Name:</dt>
          <dd>{{o.custName}}</dd>
          <dt>Address:</dt>
          <dd>{{o.address}}</dd>
          <dt>Telephone:</dt>
          <dd>{{o.tel}}</dd>
          <dt>Time:</dt>
          <dd>{{o.time}}</dd>
        </dl>

        <hr>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th>Item</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="o in order">
                <td>{{o.name}}</td>
                <td>{{o.size}}</td>
                <td>{{o.quantity}}</td>
                <td>{{o.totalprice | currency:"$"}}</td>
             </tr>

            </tbody>
          </table>
          <hr>
          <strong><span>Order Total:</span><span style="float:right;"> {{orderTotals[$index] | currency:"$"}}</span></strong>
        </div>
      </div>
    </div>

  </div>
</div>
