<div class="container">
  <div class="row" style="padding:8px">
    <div class="col-sm-12">
      <h3>All Pending Orders</h3>
      <hr>
    </div>

    <div ng-repeat="order in orderDetails" ng-class="{ 'row': ($index + 1) % 2 == 0 }" class="faded">
      <div style="padding-bottom:15px;margin-top: 25px;" class="col-sm-4 col-sm-offset-1 mdl-color--white mdl-shadow--2dp">
        <div class="row" style="padding-left:15px">
          <h5 ng-repeat="o in order | unique:'order_id'">Order #{{o.order_id}}</h5>
          <i class="material-icons" style="top:20px;right:15px;position:absolute;" ng-click="showMenu(o.order_id)">settings</i>
        </div>
        <hr>

        <dl class="dl-horizontal" ng-repeat="o in order | unique:'order_id'">
          <dt>Customer Name:</dt>
          <dd>{{o.custName}}</dd>
          <dt>Address:</dt>
          <dd>{{o.address}}</dd>
          <dt>Telephone:</dt>
          <dd>{{o.tel}}</dd>
          <dt>Time:</dt>
          <dd>{{o.time}}</dd>
        </dl>

        <hr>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th>Item</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="o in order">
                <td>{{o.name}}</td>
                <td>{{o.size}}</td>
                <td>{{o.quantity}}</td>
                <td>{{o.totalprice | currency:"$"}}</td>
             </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

  <div class="row" style="padding:8px">
    <div class="col-sm-12">
      <h3>Data Visualization</h3>
      <hr>
    </div>
  </div>
</div>
