<div class="container">
  <div class="row" style="padding:8px">
    <div class="col-sm-12 mdl-color--white mdl-shadow--2dp">
      <h3>Active Orders</h3>
      <hr>
    </div>
      <div class="col-sm-3 mdl-color--white mdl-shadow--2dp">
        <h4>Order 101</h4>
        <hr>
      </div>
      <div class="col-sm-3 mdl-color--white mdl-shadow--2dp">
        <h4>Order 102</h4>
        <hr>
      </div>
      <div class="col-sm-3 mdl-color--white mdl-shadow--2dp">
        <h4>Order 103</h4>
        <hr>
      </div>
      <div class="col-sm-3 mdl-color--white mdl-shadow--2dp">
        <h4>Order 104</h4>
        <hr>
      </div>
  </div>

  <div class="row" style="padding:8px">
    <div class="col-sm-12 mdl-color--white mdl-shadow--2dp">
      <h3>Data Visualization</h3>
      <hr>
    </div>
  </div>
</div>
